:host {
  font-size: 14px!important;
  line-height: 20px!important;
  color: #333!important;
  border: 5px solid #1b1b1b!important;
  border-radius: 9px!important;
  background-color: #d7d7d7!important;
  z-index: 1000000!important;

  > div {
    border-style: none none solid;
    border-width: 0px 0px 1px;
    border-color: #1b1b1b;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    cursor: pointer;

    &:hover {
      background: #fff;
    }
  }
}

.type {
  font-weight: 800;
  display: inline;
  font-family: 'Gothic A1', sans-serif;
}

.key {
  display: inline;
  font-family: 'Gothic A1', sans-serif;
  color: #fc0a7e;
  font-weight: 800;

  &::before {
    content: ' ';
  }
}

.value {
  font-family: 'Gothic A1', sans-serif;

}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

}