.idea/
.vscode/
build/
node_modules/
.DS_STORE
tailwind.build.css
*storybook.log
.env.*
!.env.example
architecture/*
!architecture/.gitkeep
.pnpm-debug.log*
*.tsbuildinfo
.eslintcache
.next
out
.vercel
.turbo
