@mixin button {
    justify-content: center;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    background-color: rgb(17 221 116);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    &:hover, &.isSelected {
        background: rgb(17 204 116)
    }
}

.tipping-popup {
    width: 16rem;
    justify-content: center;
    border-radius: 0.375rem;
    border-color: #000;
    padding: 0.75rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background: #fff;
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    > div {
        display: flex;
        min-height: 292px;
        flex-direction: column;

        > main {
            flex-grow: 1;
        }
    }

    header {
        display: flex;
        justify-content: space-between;

        &.noH1 {
            justify-content: end;
        }

        h1 {
            color: rgb(17 24 39);
            line-height: 1.5rem;
            font-weight: 500;
            font-size: 1.125rem;
            margin: 0;
        }

        .closeButton {
            align-self: center;
            cursor: pointer;
        }
    }

    .valueSelection {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        button, .more {
            @include button;
            cursor: pointer;
            background-color: rgb(220 252 231);
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

        }

        .more {
            width: 27px;
            align-items: center;

            span {
                display: none;
            }

            input {
                display: none;
            }

            &.isSelected {
                display: flex;

                img {
                    display: none;
                }

                span {
                    display: block;
                    flex: 0 0 auto;
                }

                input {
                    display: block;
                    flex: 1 1 auto;
                    background: transparent;
                    border: none;
                    width: 25px;
                    font-family: inherit;
                    font-size: inherit;
                    margin-right: -10px;
                    padding: 0;
                    line-height: 1;
                    height: 1em;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .loader {
        margin-left: auto;
        margin-right: auto;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 10px solid rgb(229 231 235);
        border-top-color: #11dd74;
        animation: spin 1s infinite linear;
    }

    .success {
        width: 7rem;
        height: 7rem;
        margin: 1.5rem auto auto;
        display: block;
    }

    .select-wrapper {
        margin-top: 0.25rem;

        label {
            color: rgb(107 114 128);
            font-size: 0.875rem;
            line-height: 1.25rem;

        }

        .select {
            margin-top: 0.25rem;
            position: relative;

            > button {
                line-height: inherit;
                color: inherit;
                font-family: inherit;
                font-size: inherit;
                position: relative;
                width: 100%;
                cursor: default;
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: rgb(209 213 219);
                border-style: solid;
                background-color: rgb(255 255 255);
                padding: 0.5rem 0.5rem 0.5rem 0.75rem;
                text-align: left;
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
                display: flex;
                align-items: center;

                &:focus {

                    border-color: rgb(99 102 241 / var(--tw-border-opacity));
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    box-shadow: 0px 0px 0px 1px rgb(99, 102, 241), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

                }
            }

            img {

                border-radius: 9999px;
                flex-shrink: 0;
                width: 1.5rem;
                height: 1.5rem;
            }

            .name {

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                margin-left: 0.75rem;
                flex: 1 1 auto;
            }

            .arrow {
                top: 0px;
                bottom: 0px;
                right: 0px;
                margin-left: 0.75rem;
                display: flex;
                align-items: center;
                padding-right: 0.5rem;

            }

            > ul {
                list-style: none;
                position: absolute;
                z-index: 10;
                margin: 0.25rem 0 0;
                max-height: 14rem;
                display: none;
                width: 100%;
                overflow: auto;
                border-radius: 0.375rem;
                background: #fff;
                padding: 0.25rem 0;
                font-size: 1rem;
                line-height: 1.5rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

                li {
                    display: flex;
                    align-items: center;
                    color: rgb(17 24 39);
                    padding: 0.5rem 2.25rem 0.5rem 0.75rem;
                    user-select: none;
                    cursor: default;
                }
            }

            &:focus-within {
                > ul {
                    display: block;
                }
            }
        }
    }


    h2 {
        text-align: center;
        margin: 2rem 0 0;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(17 24 39)
    }

    p {
        text-align: center;
        color: rgb(107 114 128);
        line-height: 1.5rem;
        margin: 0.25rem 0 0;
        font-size: 0.75rem;
        font-weight: 500;

        strong {
            color: rgb(17 221 116);
        }
    }

    .subtitle {

        line-height: 1.5rem;
        font-weight: 400;
        font-size: 1.125rem;
        color: rgb(17 24 39);

        .linkIcon {
            width: 1.25rem;
            height: 1.25rem;
        }

        .twitterIcon {
            width: 1rem;
            margin-top: 0.25rem;
            margin-left: 0.25rem;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    footer {

        button {
            @include button;
            width: 100%;
            color: #fff;

        }

        .link {

            font-weight: 500;
            line-height: 1.5rem;
            color: rgb(88 101 242);
            font-size: 0.75rem;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}